$tweetColor: #ABCDEF;
$tweetEditorColor:  #fff;
$errorColor: red;
$tweetBodyColor: #fff;
$tweetSectionBoder: 1px solid #e6ecf0;
$tweetSideMargin: 20px;
$tweetHoverColor:   rgb(232, 236, 240);
$actionDoneColor: rgb(228, 78, 78);
$genBorderRadius: 20px;
body {
    background-color: rgba(255, 255, 255, 0.959);
    
}
