// $tweetColor: #ABCDEF;
// $tweetEditorColor:  #fff;
// $errorColor: red;
// $tweetBodyColor: #fff;
// $tweetSectionBoder: 1px solid #e6ecf0;
// $tweetSideMargin: 20px;
// $tweetHoverColor:   rgb(232, 236, 240);
// $actionDoneColor: rgb(228, 78, 78);
$movieCardBackColor: rgb(236, 240, 243);
$movieCardFontColor: rgb(27, 29, 31);
$movieCardHoverBackColor: rgb(61, 62, 63);
$movieCardHoverFontColor: rgb(231, 235, 238);
body {
    background-color: rgba(255, 255, 255, 0.959);
    .App {
        .movieApp{
            .searchPanel {
                border-right: 1px solid darkgray;
                min-width: 30%;
                @media screen and (max-width: 500px) {
                    min-width: 30px;
                }
                .overlaySearchPanel {
                    position: fixed;
                    height: 100%;
                    width: 30px;
                    background-color: red;
                    top: 0;
                    z-index: -1;
                    opacity: 0;
                }
                
                ul {
                    // background-color: green;
                    margin-left: -2.6em;
                    list-style: none;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    li {
                        background-color: $movieCardBackColor;
                        color: $movieCardFontColor;
                        margin: 3px;
                        border-radius: 10px;
                        div > img {
                            width: 40px;
                            height: 50px;
                        }
                        .cardTextCol {
                            width: 100%;
                            font-weight: 500;
                            margin-right: 10px;
                            .rightAlign {
                                text-align: right;
                                font-weight: 300;
                            }
                        }
                        &:hover {
                            background-color: $movieCardHoverBackColor;
                            color: $movieCardHoverFontColor;
                            cursor: pointer;
                            div > img {
                                width: 40px;
                                height: 50px;
                            }
                        }                        
                    }
                }
            }
            .movieDetailsPanel {
                width: 100%;
                animation-name: mainPanelSlideIn;
                animation-duration: 2s;
            }
            .noDisplay {
                display: none;
            }
            .widthFull {
                width: 100%;
            }
            .width30p {
                width: 30%;
                @media screen and (max-width: 500px) {
                    width: 30px;
                    // display: none;
                }
                transition: width 2s;
            }
        }        
    }
}
@-webkit-keyframes mainPanelSlideIn {
    from {width: 0%}
    to {width: 100%}
  }
  
  /* Standard syntax */
  @keyframes mainPanelSlideIn {
    from {width: 0%}
    to {width: 100%}
  }

