// $tweetColor: #ABCDEF;
// $tweetEditorColor:  #fff;
// $errorColor: red;
// $tweetBodyColor: #fff;
// $tweetSectionBoder: 1px solid #e6ecf0;
// $tweetSideMargin: 20px;
// $tweetHoverColor:   rgb(232, 236, 240);
// $actionDoneColor: rgb(228, 78, 78);
$movieCardBackColor: rgb(236, 240, 243);
$movieCardFontColor: rgb(27, 29, 31);
$movieCardHoverBackColor: rgb(61, 62, 63);
$movieCardHoverFontColor: rgb(231, 235, 238);
body {
    background-color: rgba(255, 255, 255, 0.959);
    .App {
        .movieApp{
            .searchPanel {
                border-right: 1px solid darkgray;
                min-width: 30%;
                transition: width 2s;
                @media screen and (max-width: 900px) {
                   width: 100%;
                   position: fixed;
                   top: 0;
                   height: 100%;
                   transition: opacity 2s;
                }
                .movieList {
                    height: 90vh;
                    // height: calc(100vh-100px);
                    // height:-moz-calc(100vh-100px);
                    // height:-webkit-calc(100vh-100px);
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                .pagingBar {
                    position: inherit;
                    bottom: 0;
                    width: 100%;
                    opacity: 1;
                    z-index: 150;
                    background-color: white;
                    text-align: center;
                    height: 30px;
                    .pageData {
                        text-align: center;
                        padding-right: 19%;
                    }
                    .pageBtn {
                        font-size: xx-large;
                        display: inline;
                        // border: 2px solid black;
                        &:hover {
                            cursor: pointer;
                            color: blue;
                        }
                    }
                   .previousBtn {
                    float: left;
                    margin-top: -14px;
                   }
                   .nextBtn {
                    float: right;
                    margin-top: -38px;
                   }
                }
                
                ul {
                    // background-color: green;
                    margin-left: -2.6em;
                    list-style: none;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    li {
                        background-color: $movieCardBackColor;
                        color: $movieCardFontColor;
                        margin: 3px;
                        border-radius: 10px;
                        .selectedIcon {
                            float: right;
                            /* margin-right: -4px; */
                            position: relative;
                            margin-top: -50px;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        div > img {
                            width: 40px;
                            height: 50px;
                        }
                        .cardTextCol {
                            width: 100%;
                            font-weight: 500;
                            margin-right: 10px;
                            .rightAlign {
                                text-align: right;
                                font-weight: 300;
                            }
                        }
                        &:hover {
                            background-color: $movieCardHoverBackColor;
                            color: $movieCardHoverFontColor;
                            cursor: pointer;
                            // div > img {
                            //     width: 40px;
                            //     height: 50px;
                            // }
                        }                        
                    }
                }
            }
            .movieDetailsPanel {
                width: 100%;
                animation-name: mainPanelSlideIn;
                animation-duration: 2s;
                .MovieDetails {
                    height: 97vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    margin: 10px;
                    width: 97%;
                    .movieTitle {
                        font-size: x-large;
                    }
                    .moviePoster {
                        float: right;
                        text-align: center;
                        img {
                            width: 300px;
                            height: 450px;;    
                        }
                        
                    }
                    .moviePlot {
                        padding: 1px;
                        margin-top: 20px;
                    }

                }
                
                @media screen and (max-width: 900px) {
                    width: 100%;
                    position: fixed;
                    top: 0;
                    height: auto;
                    overflow-y: auto;
                    opacity: 1;
                    z-index: 10;
                 }
                 .hideDetails {
                    // opacity: 0;
                    // z-index: -1;
                    // @media screen and (max-width: 900px) {
                        position: fixed;
                        top: 10px;
                        opacity: 1;
                        z-index: 100;
                        right: 0;
                        margin-right: 10px;
                        background-color: red;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        font-weight: bolder;
                        border-radius: 50%;
                    // }
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                 }
            }
            .noDisplay {
                display: none;
            }
            .widthFull {
                width: 100%;
            }
            .width30p {
                @media screen and (min-width: 500px) {
                    width: 30%;
                    transition: width 2s;
                }               
                @media screen and (max-width: 900px) {
                    // width: 30px;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 2s;
                    // transition: width 2s;
                }
                
            }
        }        
    }
}
@-webkit-keyframes mainPanelSlideIn {
    from {width: 0%}
    to {width: 100%}
  }
  
  /* Standard syntax */
  @keyframes mainPanelSlideIn {
    from {width: 0%}
    to {width: 100%}
  }

